---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Exposiciones | Varelism" description="Exposiciones.">
  <section aria-label="Exposiciones"></section>
</BaseLayout>
