---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Product Designs | Varelism" description="Product designs.">
  <section aria-label="Product Designs"></section>
</BaseLayout>
