---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Portafolios | Varelism" description="Portafolios.">
  <section aria-label="Portafolios"></section>
</BaseLayout>
